:root {
  font-size: 60%; /* controle das medidas rem */
}


.select-block label,
.input-block label,
.textarea-block label {
  font-size: 1.4rem;
  color: #aaa;
}

.input-block input,
.select-block select,
.textarea-block textarea,
.input-show {
  width: 100%;
  min-height: 5.6rem;
  margin-top: 1.6rem;
  border-radius: 0.8rem;
  background-color: #383152;
  border: 1px solid #383152;
  /* background-color: #fff;
  border: 1px solid #E5F5FE; */
  outline: 0;
  padding: 0 1.6rem;
  font: 700 1.6rem 'Roboto';
  color: #aaa;
}

.input-show {
  padding: 1.6rem;
  font-size: 1.8rem;
  color: #f7527c;
  background-color: #383152;
  border: 1px solid #383152;
  /* width: 100%; */

}

.input-show.services {
  background-color: transparent;
  border: 0;
  display: flex;
  /* width: 100%; */
}

.input-show.services span {
  background-color: #383152;
  /* padding: 0.8rem 1.6rem; */
  padding: 0.8rem;
  border-radius: 1.6rem;
  margin-right: 0.4rem;
  /* margin-top: 0.8rem; */
  /* display: block; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3rem;
  width: 100%;
  height: 3.2rem;
}

textarea::placeholder,
input::placeholder,
select::placeholder {
  color: #aaa;
}

.textarea-block textarea {
  padding: 1.2rem 1.6rem;
  height: 16rem;
  min-height: 8rem;
  resize: vertical;
}

label small {
  font-size: 1.2rem;
  padding-left: 1.2rem;
  color: #fff;
}
